.hljs.language-java {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: white;
    color: #808080;
}

.language-java .hljs-keyword {
    color: #0000ff;
    font-weight: normal;
}

.language-java .hljs-built_in {
    color: #ff00ff;
}

.language-java .hljs-type {
    color: #008000;
    font-weight: normal;
}

.language-java .hljs-function {
    color: #800000;
}

.language-java .hljs-number {
    color: #000000;
}

.language-java .hljs-string {
    color: #ff0000;
}

.language-java .hljs-symbol {
    color: #000000;
}

.language-java .hljs-comment {
    color: #008000;
    font-style: normal;
}

.language-java .hljs-meta {
    background: #cdcdcd;
    color: #000000;
}

.language-java .hljs-literal {
    color: #808080;
}
